body {
    height: 100vh;
    width: 100vw;
}

.no-padding {
    padding: 0px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-grow-1 {
    flex-grow: 1;
}

.justify-contents-center {
    justify-content: center;
}

.no-list-style {
    list-style: none;
}

.no-text-decor {
    text-decoration: none;
}

.color-inherit {
    color: inherit;
}